<template>
    <router-view>
    <div>
      <h2>Login</h2>
      <form @submit.prevent="login">
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="email" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" v-model="password" />
        </div>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? 
            <router-link to="/signupForm">Sign up</router-link></p>
    </div>
    </router-view>
  </template>
  
  <script>
  export default {
    name: 'LoginForm',
    data() {
      return {
        email: '',
        password: ''
      };
    },
    methods: {
      async login() {
        try {
          const response = await fetch('https://localhost:7008/api/Auth/signin', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              email: this.email,
              password: this.password
            })
          });
  
          const data = await response.json();
  
          // Lakukan sesuatu dengan respon dari API
          console.log(data);
        } catch (error) {
          console.error(error);
        }
      }
    }
  };
  </script>
  