<template>
    <div>
      <h2>{{ mode === 'add' ? 'Add Vendor' : 'Edit Vendor' }}</h2>
      <form @submit.prevent="submitForm">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" v-model="vendor.name" />
        </div>
        <button type="submit">{{ mode === 'add' ? 'Add' : 'Update' }}</button>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    props: ['mode', 'vendor'],
    methods: {
      async submitForm() {
        try {
          const url = this.mode === 'add' ? 'URL_API_ADD_VENDOR' : `URL_API_UPDATE_VENDOR/${this.vendor.id}`;
          const response = await fetch(url, {
            method: 'POST', // Ganti dengan method yang sesuai (POST, PUT, dll.)
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.vendor)
          });
  
          // Lakukan sesuatu dengan respon dari API
          console.log(response);
        } catch (error) {
          console.error(error);
        }
      }
    }
  };
  </script>
  