<template>
    <div>
      <h2>Vendor List</h2>
      <ul>
        <li v-for="vendor in vendors" :key="vendor.id">
          {{ vendor.name }}
        </li>
      </ul>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        vendors: []
      };
    },
    mounted() {
      this.fetchVendors();
    },
    methods: {
      async fetchVendors() {
        try {
          const response = await fetch('URL_API_VENDORS');
          const data = await response.json();
          this.vendors = data;
        } catch (error) {
          console.error(error);
        }
      }
    }
  };
  </script>
  